<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLIBRES</title>
    <link rel="stylesheet" href="../css/stylesheet.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="imag/x-icon" >
</head>
<body>
    

<header>
  <img src="./images/Logo - copia.png" alt="logo" style="width: 150px;">
  <h1>LA PILA DE LLIBRES</h1>

    <ul>
    <li><a href="index.html">INICI</a></li>
    <li class="dropdown">
      <a href="libros.html">LLIBRES</a>
     
      <ul class="submenu">
       
          <li><strong>LIBROS DE FICCIÓN</strong></li>
        <li>Clásicos</li>
        <li>Cómics/Manga</li>
        <li>Humor</li>
        <li>Infantil</li>
        <li>Juvenil</li>
        <li>Novela otros idiomas</li>
        <li>Novela romántica</li>
        <li>Novela erótica</li>
        <li>Novela histórica</li>
        <li>Novela policíaca/intriga/suspense</li>
        <li>Novela fantasia</li>
        <li>Novela de ciencia ficción</li>
        <li>Novela de terror</li>
        <li>Narrativa humor</li>
        <li>Narrativa de viajes</li>
        <li>Poesía</li>
        <li>Teatre</li>
        
          <li><strong>LIBROS DE NO FICCIÓN</strong></li>
        <li>Agricultura</li>
        <li>Antiguos</li>
        <li>Antropología</li>
        <li>Arqueología</li>
        <li>Arquitectura</li>
        <li>Artes y Oficios</li>
        <li>Arte e Historia del Arte</li>
        <li>Biografías</li>
        <li>Bricolage</li>
        <li>Ciencia</li>
        <li>Cine</li>
        <li>Crecimiento Personal/Autoayuda</li>
        <li>Cocina</li>
        <li>Diccionarios</li>
        <li>Derecho</li>
        <li>Economía</li>
        <li>Empresa</li>
        <li>Escolar Antiguo</li>
        <li>Esoterismo</li>
        <li>Espiritualidad</li>
        <li>Deportes</li>
        <li>Filosofía</li>
        <li>Flora y Fauna</li>
        <li>Folklore mitos y Leyendas</li>
        <li>Fotografía</li>
        <li>Geografía</li>
        <li>Guías de Viaje</li>
        <li>Historia
        <ul>
          <li>Historia de España</li>
          <li>Historia de Catalunya</li>
          <li>Historia Local</li>
          <li>Historia Universal</li>
        </ul>
      </li>
        <li>Idiomas</li>
        <li>Informática</li>
        <li>Jardinería</li>
        <li>Literatura</li>
        <li>Lingüística</li>
        <li>Manualidades</li>
        <li>Mascotas</li>
        <li>Medio Ambiente</li>
        <li>Medicina</li>
        <ul>
          <li>Pediatría</li>
          <li>Psiquiatría</li>
        </ul>
        <li>Música</li>
        <li>Ocio/Juegos</li>
        <li>Política</li>
        <li>Psicología</li>
        <li>Pedagogía</li>
        <li>Religiones</li>
        <li>Salud</li>
        <ul>
          <li>Plantas medicinales</li>
          <li>Dietas</li>
          <li>Terapias</li>
          <li>Sexología</li>
        </ul>
        <li>Sociología</li>
        <li>Tecnología</li>
    
        
      </ul>
    </li>
    <li><a href="categoria.html">CATEGORIA</a></li>
    <li><a href="nosaltres.html">NOSALTRES</a></li>
    <li><a href="projectes.html">PROJECTES</a></li>
    <li><a href="contacte.html">CONTACTE</a></li>

   </ul>
</header>
<main>
  
  <section class="principal">

        <section class="inicio">

          <div class="section-title">
            <span>Sobre nosaltres</span>
        </div>



        <!-- Corrected and improved image tag -->
        <img src="./images/Principal.PNG" alt="Vista principal de la librería" style="width: 50%;">
    
        <!-- Added improved and semantically structured text -->
        <p>
          <strong>Llibreria</strong> amb més d'onze anys de presència al barri, oferint una àmplia selecció de <em>llibres de segona mà</em>. Comptem amb una variada col·lecció que inclou:
        </p>
        <ul>
          <li>Novel·les, assaig i llibres infantils i juvenils.</li>
          <li>Seccions especialitzades en còmics, manga, novel·la històrica, romàntica, negra i clàssics.</li>
          <li>Literatura en altres idiomes com anglès, francès i alemany.</li>
          <li>Llibres d'art, manualitats, oficis, geografia, filosofia, història, religió i espiritualitat.</li>
          <li>Títols sobre salut, dietes, creixement personal, medi ambient i més.</li>
          <li>Ciències: biologia, física, matemàtiques i química.</li>
          <li>Llibres rars, antics i descatalogats.</li>
        </ul>
        <p>
          Visita'ns per descobrir tresors literaris i enriquir la teva experiència de lectura.
        </p>
      </section>

      <div class="search-container">
        <input type="text" placeholder="Cerca per autor, títol, gènere, ISBN">
        <button type="button">
            <img src="https://cdn-icons-png.flaticon.com/512/149/149852.png" alt="Buscar">
        </button>
    </div>

    <div class="section-title">
      <span>Adreça / Horari d'atenció</span>
    </div>


    <section class="direccion">
      
      <div class="direccion-container">
        <div class="mapa">
                  
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10062.784791266746!2d2.1716170828221952!3d41.4243817763027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4bd2b6672b3ff%3A0x5151396dcfc37bbb!2sLA%20PILA%20DE%20LLIBRES!5e0!3m2!1ses!2ses!4v1733260763970!5m2!1ses!2ses" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


            
        </div>
        <div class="info">
          <h3><strong>Adreça</strong></h3>
          <p>LA PILA DE LLIBRES<br>Carrer de Francesc Tàrrega, 9, Sant Andreu, 08027 Barcelona</p>
          <h3><strong>Horari d'atenció al públic</strong></h3>
          <p>
            Dilluns a Divendres: 10:00 - 13:30 / 15:00 - 20:00<br>
            Dissabte: 10 - 13:30<br>
            Diumenge: Tancat</p>
         <p> <strong>Consultar horari en Google map</strong></p>
          <h3><strong>Contacte</strong></h3>
          <p>
            <img src="./images/WhatsApp.jpg" alt="Acceso a WhatsApp" style="width: 8%; vertical-align: middle; margin-right: 10px;">
            WhatsApp: +34 935283426
          </p>
          <p>
            <img src="./images/PhoneIcon.jpg" alt="Teléfono" style="width: 8%; vertical-align: middle; margin-right: 10px;">
            Teléfono: +34 693 101 633
          </p>
          <p>
            <img src="./images/EmailIcon.jpg" alt="Email" style="width: 8%; vertical-align: middle; margin-right: 10px;">
            Email: <a href="mailto:info@nomdellibreria.cat"> lapiladellibres@gmail.com</a>
          </p>
        </div>
      </div>
    </section>

    <section class="direccion">
      <div class="section-title">
        <span>Els llibres que ja pots reservar</span>
      </div>
      </section>

      <section class="libros-destacados">
       
        <div class="libros-grid">
          <!-- Libro 1 -->
          <div class="libro">
            <img src="./images/libro_01.jpg" alt="L'ombra del vent">
            <span class="etiqueta">Nou</span>
            <p class="formato">Tapa dura</p>
            <h3>L'ombra del vent</h3>
            <p class="autor">Carlos Ruiz Zafón</p>
            <p class="precio">
              <span class="precio-original">24,90 €</span> 
              <span class="descuento">-10%</span><br>
              <span class="precio-final">22,41 €</span>
            </p>
            <p class="envio">¡ENVIAMENT GRATUÏT!</p>
          </div>
      
          <!-- Libro 2 -->
          <div class="libro">
            <img src="./images/libro_02.jpg" alt="Terra Baixa">
            <span class="etiqueta">Nou</span>
            <p class="formato">Tapa blanda</p>
            <h3>Terra Baixa</h3>
            <p class="autor">Àngel Guimerà</p>
            <p class="precio">
              <span class="precio-original">19,90 €</span> 
              <span class="descuento">-5%</span><br>
              <span class="precio-final">18,90 €</span>
            </p>
            <p class="envio">¡ENVIAMENT GRATUÏT!</p>
          </div>
      
          <!-- Libro 3 -->
          <div class="libro">
            <img src="./images/libro_03.jpg" alt="Incerta glòria">
            <span class="etiqueta">Nou</span>
            <p class="formato">Tapa dura</p>
            <h3>Incerta glòria</h3>
            <p class="autor">Joan Sales</p>
            <p class="precio">
              <span class="precio-original">22,50 €</span> 
              <span class="descuento">-5%</span><br>
              <span class="precio-final">21,37 €</span>
            </p>
            <p class="envio">¡ENVIAMENT GRATUÏT!</p>
          </div>
      
          <!-- Libro 4 -->
          <div class="libro">
            <img src="./images/libro_04.jpg" alt="La plaça del diamant">
           
            <p class="formato">Tapa blanda</p>
            <h3>La plaça del diamant</h3>
            <p class="autor">Mercè Rodoreda</p>
            <p class="precio">
              <span class="precio-original">18,90 €</span> 
              <span class="descuento">-10%</span><br>
              <span class="precio-final">17,01 €</span>
            </p>
            <p class="envio">¡ENVIAMENT GRATUÏT!</p>
          </div>
      
          <!-- Libro 5 -->
          <div class="libro">
            <img src="./images/libro_01.jpg" alt="Solitud">
            
            <p class="formato">Tapa dura</p>
            <h3>Solitud</h3>
            <p class="autor">Caterina Albert (Víctor Català)</p>
            <p class="precio">
              <span class="precio-original">21,50 €</span> 
              <span class="descuento">-5%</span><br>
              <span class="precio-final">20,42 €</span>
            </p>
            <p class="envio">¡ENVIAMENT GRATUÏT!</p>
          </div>
      
          <!-- Libro 6 -->
          <div class="libro">
            <img src="./images/libro_01.jpg" alt="Camí de sirga">
            
            <p class="formato">Tapa blanda</p>
            <h3>Camí de sirga</h3>
            <p class="autor">Jesús Moncada</p>
            <p class="precio">
              <span class="precio-original">20,00 €</span> 
              <span class="descuento">-10%</span><br>
              <span class="precio-final">18,00 €</span>
            </p>
            <p class="envio">¡ENVIAMENT GRATUÏT!</p>
          </div>
      
          <!-- Libro 7 -->
          <div class="libro">
            <img src="./images/libro_01.jpg" alt="Les veus del Pamano">
            
            <p class="formato">Tapa dura</p>
            <h3>Les veus del Pamano</h3>
            <p class="autor">Jaume Cabré</p>
            <p class="precio">
              <span class="precio-original">25,50 €</span> 
              <span class="descuento">-5%</span><br>
              <span class="precio-final">24,22 €</span>
            </p>
            <p class="envio">¡ENVIAMENT GRATUÏT!</p>
          </div>
      
          <!-- Libro 8 -->
          <div class="libro">
            <img src="./images/libro_01.jpg" alt="El mar">
            
            <p class="formato">Tapa blanda</p>
            <h3>El mar</h3>
            <p class="autor">Blai Bonet</p>
            <p class="precio">
              <span class="precio-original">19,00 €</span> 
              <span class="descuento">-10%</span><br>
              <span class="precio-final">17,10 €</span>
            </p>
            <p class="envio">¡ENVIAMENT GRATUÏT!</p>
          </div>
      
          <!-- Libro 9 -->
          <div class="libro">
            <img src="./images/libro_01.jpg" alt="El quadern gris">
            
            <p class="formato">Tapa dura</p>
            <h3>El quadern gris</h3>
            <p class="autor">Josep Pla</p>
            <p class="precio">
              <span class="precio-original">23,50 €</span> 
              <span class="descuento">-5%</span><br>
              <span class="precio-final">22,32 €</span>
            </p>
            <p class="envio">¡ENVIAMENT GRATUÏT!</p>
          </div>
      
          <!-- Libro 10 -->
          <div class="libro">
            <img src="./images/libro_01.jpg" alt="La pell freda">
            
            <p class="formato">Tapa blanda</p>
            <h3>La pell freda</h3>
            <p class="autor">Albert Sánchez Piñol</p>
            <p class="precio">
              <span class="precio-original">21,00 €</span> 
              <span class="descuento">-10%</span><br>
              <span class="precio-final">18,90 €</span>
            </p>
            <p class="envio">¡ENVIAMENT GRATUÏT!</p>
          </div>
        </div>
      </section>   
     

      </section>
    
  </section>

</main>


<footer>
  <div>
    <h2 class="siguenos">SIGUENOS</h2>
    <div class="sociales">
      <div class="Whatsapp" ><p>Whatsapp</p>
     <img src="./images/whatsapp-icon-design_23-2147900929.jpg" alt="">
     <p>635 478 586</p>
   </div>

   <div class="insta"><p>Instagram</p>
      <a href="#"><img src="./images/instagram.png" alt=""></a>
      <p>CLICK AL ICON</p>
      </div>
    </div>
  </div>
  
  <div class="insignia">
    <div>
    <img src="./images/Inobili_2023.png" alt="" ></a>
      
    <img src="./images/Inobili_2025.png" alt="" ></a>
  </div>

 
  </div>

  <div class="trobans">
    <h2>TROB'ENS</h2>
    <ul>
      <li><a href="#">ON SOM</a></li>
      <li><a href="#">CONTACT'ENS</a></li>
      <li><a href="#">POLÍTICA DE PRIVACITAT</a></li>
    </ul>
  </div>

  <div class="copyright">
      <div class="copytitle"><h2>LA PILA DE LLIBRES</h2></div>

     <div class="horari">
      <p>
        Dilluns a divendres: 10h-13:30 | 17h-20h
      </p>
    </div>

     <div class="horari2"><p>Dissabte: 10h-13:30</p></div>

    <div class="copy">
      <p> &copy; 2024 Tots els drets reservats.</p>
      </div>
  </div>
</footer>
</body>
</html>