<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LLIBRES</title>
        <link rel="stylesheet" href="../css/stylesheet.css">
        <link rel="shortcut icon" href="images/favicon.ico" type="imag/x-icon" >
    </head>
<body>
    
</body>
<header>
    <img src="./images/Logo - copia.png" alt="logo" style="width: 150px;">
    <h1>LA PILA DE LLIBRES</h1>
  
      <ul>
      <li><a href="index.html">INICI</a></li>
      <li class="dropdown">
        <a href="libros.html">LLIBRES</a>
       
        <ul class="submenu">
         
            <li><strong>LIBROS DE FICCIÓN</strong></li>
          <li>Clásicos</li>
          <li>Cómics/Manga</li>
          <li>Humor</li>
          <li>Infantil</li>
          <li>Juvenil</li>
          <li>Novela otros idiomas</li>
          <li>Novela romántica</li>
          <li>Novela erótica</li>
          <li>Novela histórica</li>
          <li>Novela policíaca/intriga/suspense</li>
          <li>Novela fantasia</li>
          <li>Novela de ciencia ficción</li>
          <li>Novela de terror</li>
          <li>Narrativa humor</li>
          <li>Narrativa de viajes</li>
          <li>Poesía</li>
          <li>Teatre</li>
          
            <li><strong>LIBROS DE NO FICCIÓN</strong></li>
          <li>Agricultura</li>
          <li>Antiguos</li>
          <li>Antropología</li>
          <li>Arqueología</li>
          <li>Arquitectura</li>
          <li>Artes y Oficios</li>
          <li>Arte e Historia del Arte</li>
          <li>Biografías</li>
          <li>Bricolage</li>
          <li>Ciencia</li>
          <li>Cine</li>
          <li>Crecimiento Personal/Autoayuda</li>
          <li>Cocina</li>
          <li>Diccionarios</li>
          <li>Derecho</li>
          <li>Economía</li>
          <li>Empresa</li>
          <li>Escolar Antiguo</li>
          <li>Esoterismo</li>
          <li>Espiritualidad</li>
          <li>Deportes</li>
          <li>Filosofía</li>
          <li>Flora y Fauna</li>
          <li>Folklore mitos y Leyendas</li>
          <li>Fotografía</li>
          <li>Geografía</li>
          <li>Guías de Viaje</li>
          <li>Historia
          <ul>
            <li>Historia de España</li>
            <li>Historia de Catalunya</li>
            <li>Historia Local</li>
            <li>Historia Universal</li>
          </ul>
        </li>
          <li>Idiomas</li>
          <li>Informática</li>
          <li>Jardinería</li>
          <li>Literatura</li>
          <li>Lingüística</li>
          <li>Manualidades</li>
          <li>Mascotas</li>
          <li>Medio Ambiente</li>
          <li>Medicina</li>
          <ul>
            <li>Pediatría</li>
            <li>Psiquiatría</li>
          </ul>
          <li>Música</li>
          <li>Ocio/Juegos</li>
          <li>Política</li>
          <li>Psicología</li>
          <li>Pedagogía</li>
          <li>Religiones</li>
          <li>Salud</li>
          <ul>
            <li>Plantas medicinales</li>
            <li>Dietas</li>
            <li>Terapias</li>
            <li>Sexología</li>
          </ul>
          <li>Sociología</li>
          <li>Tecnología</li>
      
          
        </ul>
      </li>
      <li><a href="categoria.html">CATEGORIA</a></li>
      <li><a href="nosaltres.html">NOSALTRES</a></li>
      <li><a href="projectes.html">PROJECTES</a></li>
      <li><a href="contacte.html">CONTACTE</a></li>
  
     </ul>
  </header>

<main>
   <!-- Formulario de proyecto -->
   <section class="formulario-contacto">
    <h2>Envia'ns un missatge</h2>
    <form action="/enviar-missatge" method="POST">
      <label for="nombre">Nom:</label>
      <input type="text" id="nombre" name="nombre" placeholder="El teu nom" required>


      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="El teu correu electrònic" required>

      <label for="nombre">Projecte:</label>
      <input type="text" id="proyecto" name="nombre" placeholder="tipo de projecte" required>

      <label for="mensaje">Descripcio:</label>
      <textarea id="mensaje" name="mensaje" placeholder="Escriu la descripció de projecte aquí..." rows="5" required></textarea>

      <button type="submit">Enviar</button>
    </form>
  </section>

  <main>
    <section class="hero">
        <div class="container">
            <h1>Clubs de Lectura</h1>
            <p>Descobreix els nostres clubs de lectura i uneix-te a la comunitat lectora!</p>
            
        </div>
        <img src="https://www.espaillavors.cat/clients/llavors/templates/images/page-clubs-banner.webp" alt="" style="width: 100%;">
    </section>

    <section class="content principal">
        <div class="container">
            <article>
                <h2 class="section-title"><span>Què són els clubs de lectura?</span></h2>
                <p>Els clubs de lectura són espais per compartir l’amor per la lectura, debatre sobre llibres i gaudir d’una bona conversa amb altres lectors.</p>
            </article>

            <article>
                <h2 class="section-title"><span>Calendari de trobades</span></h2>
                <p>Consulta les dates de les properes sessions dels nostres clubs de lectura:</p>
                <ul>
                    <li>Club de novel·la contemporània: Primer dimecres de cada mes.</li>
                    <li>Club de poesia: Segon divendres de cada mes.</li>
                    <li>Club de literatura clàssica: Tercer dissabte de cada mes.</li>
                </ul>
            </article>

            <article>
                <h2 class="section-title"><span>Com participar?</span></h2>
                <p>Inscriu-te al club que més t'interessi contactant-nos per correu electrònic a <a href="lapiladellibres@gmail.com">lapiladellibres@gmail.com</a> o visitant-nos a la nostra llibreria.</p>
            </article>
            <br>
        </div>
    </section>
</main>


</main>



<footer>
    <div>
        <h2 class="siguenos">SIGUENOS</h2>
        <div class="sociales">
          <div class="Whatsapp" ><p>Whatsapp</p>
         <img src="./images/whatsapp-icon-design_23-2147900929.jpg" alt="">
         <p>635 478 586</p>
       </div>
    
       <div class="insta"><p>Instagram</p>
          <a href="#"><img src="./images/instagram.png" alt=""></a>
          <p>CLICK AL ICON</p>
          </div>
        </div>
      </div>
    
    <div class="insignia">
      <div>
      <img src="./images/Inobili_2023.png" alt="" ></a>
        
      <img src="./images/Inobili_2025.png" alt="" ></a>
    </div>
  
   
    </div>
  
    <div class="trobans">
      <h2>TROB'ENS</h2>
      <ul>
        <li><a href="#">ON SOM</a></li>
        <li><a href="#">CONTACT'ENS</a></li>
        <li><a href="#">POLÍTICA DE PRIVACITAT</a></li>
      </ul>
    </div>
    <div class="copyright">
        <div class="copytitle"><h2>LA PILA DE LLIBRES</h2></div>
  
       <div class="horari">
        <p>
          Dilluns a divendres: 10h-13:30 | 17h-20h
        </p>
      </div>
  
       <div class="horari2"><p>Dissabte: 10h-13:30</p></div>
  
      <div class="copy"><p> &copy; 2024 Tots els drets reservats.</p></div>
    </div>
  </footer>
</html>